<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="processingModalLabel">Processing</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="true">
                   x
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                <div class=" text-primary" id="loader" role="status" aria-hidden="true">
                    <span class="sr-only">Loading...</span>
                </div>
               
                <p>Please wait while the server is processing your request...</p>
                </div>
                <div id="DisplayAlert">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-modal {
        max-width: 600px;
    }
</style>